$primary:#a4bdcd;
$secondary: #2d3749;
$successs:#198754;
$warning: #ee3b2d;
$danger: #ee3b2d;
$light: #ffffff;
$dark: #1a202c;
@import "node_modules/bootstrap/scss/bootstrap";
.login_container_back {
    background-color: $primary;
    padding-top: 25px;
    padding-bottom: 25px;
}

.login_error {}

.login_background {
    background-color: $primary;
    min-height: 100vh;
}

body {
    background-color: $light;
}

.content-div {
    min-height: 100vh;
}

.footer_div {
    padding: 20px;
    background-color: $secondary;
    bottom: 0;
    left: 0;
    color: $primary;
}

#login_right {
    background-color: $secondary;
    color: $primary;
}

.login_logo_img {
    width: 100px;
    padding-top: 10px;
}

#login_btn {
    color: $secondary;
    background-color: $warning;
    border-color: transparent;
}

#login_forgot_btn {
    color: $secondary;
    background-color: $warning;
    padding-bottom: 10px;
    border-color: transparent;
}

#login_register_btn {
    color: $secondary;
    background-color: $warning;
    padding-bottom: 10px;
    border-color: transparent;
}

.login_form {
    padding-top: 70px;
}

.card {
    img {
        max-width: 200px;
        max-height: 200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .card-img {
        height: 200px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    width: 250px;
    height: 400px;
    margin: 15px;
    margin-bottom: 10px;
}

.carousel-inner {
    overflow: hidden;
    .carousel-item {
        height: 32rem;
        img {
            object-fit: cover;
            min-height: 32rem;
        }
    }
    .active {
        display: flex;
    }
    .carousel-item-next {
        display: flex;
    }
    .carousel-item-prev {
        display: flex;
    }
}