$primary:#a4bdcd;
$secondary: #2d3749;
$successs:#198754;
$warning: #ee3b2d;
$danger: #ee3b2d;
$light: #ffffff;
$dark: #1a202c;
$enable-shadows: true;
$box-shadow-sm: 0 .125rem .25rem rgba(#000, .400);
@import "node_modules/bootstrap/scss/bootstrap";
h2 {
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login_container_back {
    background-color: $primary;
    padding-top: 25px;
    padding-bottom: 25px;
}

//.login_error {}
.icon {
    height: 20px;
    width: auto;
}

.login_background {
    background-color: $primary;
    min-height: 100vh;
}

.navbar-nav {
    display: inline-flex;
    margin-top: 2px;
}

.navbar {
    height: 50px;
}

.nav-link {
    display: inline;
    color: $primary !important;
    .icon {
        fill: $primary;
        height: 25px;
        width: auto;
        stroke-width: 0.5px;
        &:hover {
            fill: $danger;
            color: $danger;
        }
    }
    .logo-icon {
        max-height: 35px;
        width: auto;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .logo-text {
        max-height: 25px;
        width: auto;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    &:hover {
        color: $danger !important;
    }
}

body {
    background-color: $light;
}

.content-div {
    min-height: 100vh;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer_div {
    padding: 20px;
    background-color: $secondary;
    bottom: 0;
    left: 0;
    color: $primary;
}

//login
.login_container_back {
    background-color: $primary;
    padding-top: 25px;
    padding-bottom: 25px;
}

.login_error {
    background-color: $warning;
    color: $light;
}

.login_background {
    background-color: $primary;
    min-height: 100vh;
}

#aemail {}

#apassword {
    margin-top: 10px;
}

#login_right {
    background-color: $secondary;
    color: $primary;
}

.login_logo_img {
    width: 100px;
    padding-top: 10px;
}

.login_logo_img_itstore {
    padding-top: 20px;
    width: 200px;
}

#login_btn {
    color: $light;
    background-color: $warning;
    border-color: transparent;
    width: 100%;
    font-weight: bold;
}

#login_forgot_btn {
    color: $light;
    background-color: $warning;
    padding-bottom: 10px;
    border-color: transparent;
    font-weight: bold;
}

#login_register_btn {
    color: $light;
    background-color: $warning;
    padding-bottom: 10px;
    border-color: transparent;
    margin-top: 10px;
    font-weight: bold;
}

.login_form {
    margin: 70px;
}

//end login
//404 
.error_404_background {
    background-color: $primary;
    min-height: 100vh;
}

.error_404_sign {
    color: $secondary;
    margin: auto;
}

//end 404
//forgot page
#never {
    align-items: stretch;
}

#video_never {
    max-width: 100vw;
}

//end forogot page
//register
.register_background {
    background-color: $primary;
    min-height: 100vh;
}

.register_welcome {
    margin-top: 30px;
}

.register_welcome_note {
    margin-left: 10px;
    margin-bottom: 50px;
    text-align: left;
}

.register_form_background {
    background-color: $secondary;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: $primary;
    font-weight: bold;
}

#register_btn {
    background-color: $warning;
    color: $light;
    font-weight: bold;
    border-color: transparent;
    width: 100%;
}

.register_h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.padding_bottom {
    margin-bottom: 20px;
}

#register_row_padding {
    padding-top: 10px;
}

#lbl_padding {
    text-align: center;
}

#address_separator_padding {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 4%;
}

//end register
//profile
.profile_pic {
    align-items: center;
    text-align: center;
}

.profile_hr {
    text-align: center;
}

.profile_address_background {
    background-color: $secondary;
    color: $light;
}

.profile_info {
    text-align: center;
    padding-top: 20px;
}

.profile_info_2 {
    text-align: center;
    padding-top: 20%;
}

.profile_hr_address {
    color: $primary;
    width: 80%;
    margin: auto;
}

//end profile
//product
.product-background {
    background-color: $secondary;
    padding: 30px;
    color: $primary;
}

.product-brand {
    text-align: center;
}

.product-img {
    max-height: 600px;
    max-width: 600px;
    width: 80%;
    margin: auto;
}

.product-desc-box {
    margin-top: 30%;
    margin-bottom: auto;
}

#product-btn {
    background-color: $warning;
    color: $light;
    border-color: transparent;
}

#quantity {
    width: 30%;
    min-width: 100px;
}

#product-to-cart {
    min-width: 150px;
}

//end product 
.card {
    img {
        max-width: 200px;
        max-height: 200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .card-img {
        height: 250px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    width: 250px;
    height: 400px;
    margin: 15px;
    margin-bottom: 10px;
    &:hover {
        border-color: $successs;
    }
}

.carousel-inner {
    overflow: hidden;
    .carousel-item {
        height: 32rem;
        img {
            object-fit: cover;
            min-height: 32rem;
        }
    }
    .active {
        display: flex;
    }
    .carousel-item-next {
        display: flex;
    }
    .carousel-item-prev {
        display: flex;
    }
}

.items {
    margin-left: auto;
    margin-right: auto;
}